.book-now-btn {
  width: auto;
  height: 38px;
  padding: 10px;
  gap: 10px;
  /* background-color: #c96300; */
  border: 0.55px solid #67140F !important;
  opacity: 1;
  color: #67140F !important;
  margin-right: 20px;
}

.modal-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.modal-image {
  height: 100px;
  width: auto;
  border-radius: 5px;
}

.modal-content {
  text-align: center;
}

.modal-content h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.modal-content p {
  text-align: left;
  line-height: 1.6;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.ant-modal-footer {
  display: none;
}
.modal-boob-details {
  display: flex;
  justify-content: center;
}
.time-label .ant-form-item-label {
  padding: 0 !important;
}
.bold-label {
  font-weight: bold;
}
.book-description h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}
.book-description p {
  font-size: 16px;
  margin: 4px 0;
}