.ant-menu-vertical .ant-menu-item-selected {
  background-color: #b7a26a !important;
}
/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width: 320px) {
  .website_logo {
    background-color: #606060;
  }
  .resize_image {
    width: 170px;
    padding: 7px;
  }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width: 481px) {
  .website_logo {
    background-color: #606060;
  }
  .resize_image {
    width: 170px;
    padding: 7px;
  }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width: 641px) {
  .website_logo {
    background-color: #606060;
  }
  .resize_image {
    width: 170px;
    padding: 7px;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width: 961px) {
  .website_logo {
    background-color: #606060;
  }
  .resize_image {
    width: 170px;
    padding: 7px;
  }
}

/* big landscape tablets, laptops, and desktops */
@media (min-width: 1025px) {
  .website_logo {
    background-color: #606060;
  }
  .resize_image {
    width: 170px;
    padding: 7px;
  }
}

/* hi-res laptops and desktops */
@media (min-width: 1281px) {
  .website_logo {
    background-color: #606060;
  }
  .resize_image {
    width: 170px;
    padding: 7px;
  }
}


